a {
  margin: 10px;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
body {
  font-family: Geneva, Verdana, sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  width: 50%;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.container img {
  width: 100%;
  height: 200px;
}

.contentSpreadX {
  display: flex;
  justify-content: space-around;
}

/* The navigation bar */

/* Links inside the navbar */
.navbar a:link,
a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Change background on mouse-over */
.navbar a:hover,
a:active {
  background-color: red;
}

.category-card a:link,
a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Change background on mouse-over */
.category-card a:hover,
a:active {
  background-color: red;
}

/* Main content */
main {
  margin-top: 150px; /* Add a top margin to avoid content overlay */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  margin: auto;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.containerF {
  display: flex;
  color: rgb(255, 255, 255);
  background-color: #f44336;
  flex-direction: row;
}

.singleColumn {
  padding: 10px;
  height: auto;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.singleComment {
  padding: 10px;
  height: auto;
  margin: 10px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orange {
  background-color: #da9c62;
}

.blue {
  background-color: #b498da;
}

.commentAdder {
  width: 40%;
  height: 100px;
  padding: 10px;
  background-color: #ffffff;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

.review-card {
  padding: 10px;
  position: relative;
  text-align: left;
}

.img__wrap a:hover {
  background-color: rgb(255, 0, 0);
  filter: brightness(90%);
}
